<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <!-- Needed for mobile sites to work -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

  <div>
    <h1>
      <%= title %>
    </h1>

    <p>Ciao,</p>
    <p>il sensore <%= sensorName %> è in allarme. :-(</p>
    <p>Appena l'allarme rientra ti automaticamente di avviseremo con un'altra email.</p>
    <p>Se puoi ora, accedi nel tuo account su <%= urlportal %> e accertati che tutto sia ok.</p>
    <p>Per qualsiasi chiarimento o informazione invia una email a <%= supportemail  %>, ti risponderemo subito.</p>
    <p>Ciao ancora.</p>
    <p>Lo Staff di <%= title %></p>
    <p>// inserire la normativa sulla privacy.</p>

  </div>

</body>

</html>