<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <!-- Needed for mobile sites to work -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<div>
  <h1>
    <%= title %>
  </h1>

  <p>
    Ciao,

    il server è disconnesso da circa <%= interval1 %> secondi.
    Se il server si riconnetterà automaticamente di avviseremo con un'altra email.

    Se puoi ora, ma comunque entro <%= interval2 %> minuti circa, accertati se tutto è ok.

    Per qualsiasi chiarimento o informazione invia una email a <%= email %>, ti risponderemo subito.

    Ciao ancora.

    Lo Staff di <%= title %>

    // inserire la normativa sulla privacy.
  </p>

</div>

</body>
</html>
