<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <!-- Needed for mobile sites to work -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<div>
  <h1>
    <%= title %>
  </h1>

  <p>
    Ciao,

    il server si è riconnesso. Bene!
  
    Se puoi, accertati che tutto sia ok. Naviga nel portale <%= urlportal %>

    Per qualsiasi chiarimento o informazione invia una email a <%= email %>, ti risponderemo subito.

    Ciao ancora.

    Lo Staff di <%= title %>

    // inserire la normativa sulla privacy.
  </p>

</div>

</body>
</html>
