<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <!-- Needed for mobile sites to work -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Style sheets -->
  <link rel="stylesheet" type="text/css" href="../stylesheets/pure-min.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/base.css">
  <link rel="stylesheet" type="text/css" href="../stylesheets/index-modules.css">
</head>

<body>

<div>
  <h1>
    <%= title %>
  </h1>

  <p>
    Ciao,

    grazie del tuo interesse per <%= title %>.

    Conferma la tua registrazione cliccando su <%= confirmByOnlyEmailUrl %> per accedere a tutte le funzionalità di <%= title %>.

    I dati che inserirai sono e rimarranno per sempre tuoi, noi non li distribuiremo ne li utilizzeremo per nessun motivo salvo a scopi di manutenzione e gestione del portale.

    Per qualsiasi chiarimento o informazione invia una email a <%= email %>, ti risponderemo subito.

    Grazie ancora.

    Lo Staff di <%= title %>

    // inserire la normativa sulla privacy.
  </p>

</div>

</body>
</html>
